body{
}
#banner{
        width:100%;
}
.principal{
           backgrond:#CCCCCC;
           padding:30px;
}
.titulo-principal{
           padding-left: 20px;
}
.titulo-centralizado{
           text-agalin;center
}
p{
           text-align: center;
}

#missao{
           font: size 20px      
}
em strong{
           color:#FF0000;
}
.itens{
           front-style: italic
}
.beneficios{
           background: #FFFFFFF;
           padding: 20px;
}
ul{
           display: inline-block;
           vertical-align: top;
           width: 20%;
           margin-right: 15%;
}
.imagembeneficios{
           width: 50%
           
}

